
.logo_travel img{
	 width: 140px;
}

@media only screen and (max-height: 680px) {
	body header .menu_lingue{
		margin-bottom: 0;
	}
	body header a.logo{
		height: 130px;
	}
	body .menu_principale{
		top: 195px;
	}
}

@media only screen and (max-height: 650px) {
	body .menu_principale{
		top: 180px;
	}
	body footer .menu_footer{
		padding: 10px;
	}
	body footer .social{
		padding: 7px;
	}
	body footer .social li{
		padding: 5px;
		width: 25px;
	}
	body footer .social li i{
		font-size: 15px;
	}
}

@media only screen and (max-height: 600px) {
	.logo_travel{
		display: none;
   }
}